<aside class="sidebar">
  <h2>Contents</h2>
  <ul class="nav-list">
    <li><a href="{{ '/introduction/' | relative_url }}" class="{% if page.url == '/introduction/' %}active{% endif %}">I. Introduction</a>
      <ul>
        <li><a href="{{ '/introduction/#welcome' | relative_url }}">1. Welcome and Purpose of this Handbook</a></li>
        <li><a href="{{ '/introduction/#meta-data-science-role' | relative_url }}">2. What to Expect: The Meta Data Science Role</a></li>
        <li><a href="{{ '/introduction/#interview-process' | relative_url }}">3. Navigating the Meta Interview Process</a></li>
        <li><a href="{{ '/introduction/#handbook-usage' | relative_url }}">4. How to Use This Handbook</a></li>
      </ul>
    </li>
    <li><a href="{{ '/foundational_knowledge/1/' | relative_url }}">II. Foundational Knowledge & Skills</a></li>
    <li><a href="{{ '/interview_preparation/technical_skills/' | relative_url }}">III. Interview Preparation</a></li>
    <li><a href="{{ '/meta_specificity/' | relative_url }}">IV. Meta Specificity</a></li>
    <li><a href="{{ '/resources_practice/' | relative_url }}">V. Resources and Practice</a></li>
    <li><a href="{{ '/conclusion/' | relative_url }}">VI. Conclusion</a></li>
    <li><a href="{{ '/appendix/' | relative_url }}">Appendix</a></li>
  </ul>
</aside>
