name: Markdown link check

on:
  pull_request:
    paths:
      - '**/*.md'
      - 'html_source/**'

jobs:
  linkcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install markdown-link-check
        run: npm install -g markdown-link-check@4
      - name: Run markdown-link-check for repo
        run: |
          find . -name '*.md' -print0 | xargs -0 -n1 -P4 markdown-link-check -q
